/bin/
/build/
/.idea/
/stage
/war/dist/
/projectFilesBackup/
/xdataht/
/*.war
.DS_STORE
atlassian-ide-plugin.xml
*.iml
/classes/artifacts/
/scripts/precluster/xdataht.jar
/webapp/
/.vagrant/
deploy/tellfinder.war
deploy/tellfinder.tar.gz
deploy/env.txt
deploy/demo.tellfinder.com.txt
war/WEB-INF/lib/tellfinder.jar
elasticsearch-1.5.1/
logstash-1.5.0/
kibana-4.1.0-linux-x64/
/elasticsearch/
elk/
